@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*font-family: 'Roboto Condensed', sans-serif;*/

/*-///////////////////////////////////////////////////////*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s;
    scroll-behavior: smooth;
}

:root{
    /* Light Theme */
    --main-white: #EAEAEA;
    --main-red: #FF2E63;
    --main-black: #252A34;
    --main-blue: #08D9D6;
    
    /* Dark Theme */
    --main-dark-grey: #393E46;
    --main-dark-black: #222831;
}

.main-button{
    background-color: var(--main-red);
    padding: 15px 15px;
    border: none;
    border-radius: 30px;
    font-weight: bolder;
    color: var(--main-white);
}

.main-button:hover{
    cursor: pointer;
}

.main-button:active, .booking-button:active{
    transform: scale(0.95);
}

/*-////////////////////////// Body //////////////////////////*/

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--main-black);
    background-color: var(--main-white);
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: var(--main-black);
}

h3{
    color: var(--main-red);
    font-size: 14px;
}

/*-////////////////////////// Top Bar //////////////////////////*/


#top-bar{
    left: 0;
    display: block;
    position: fixed;
    width: 100%;
    background-color: rgba(23, 23, 23, 0.1);
}

#top-bar + #main-container{
    padding-top: 60px;
}

#top-bar:hover #main-container{
    background-color: var(--main-black);
    position: absolute;
}


#nav-bar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    top: 0;
    margin: 0 auto;
}

#top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

#home-logo{
    font-weight: bolder;
    font-size: 24px;
}

#top-nav a:hover{
    text-decoration: underline;
}

.booking-button{
    padding: 8px 12px;
    background-color: #000;
    border-radius: 20px;
    color: var(--main-white);
}

#main-container header{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-blob{
    padding: 0;
    margin: 0;
    position:absolute;
    top: -1000px;
    right: -1000px;
    z-index: -10;

}

.bg-blob-two{
    position: absolute;
    z-index: -10;
    transform:scale(0.6) rotateZ(180deg);
    left: -800px;
    
}

.healthy-food-one{
    position: absolute;
    max-width: 200px;
    left: 0;
    bottom: -200px;
    left: -20px;
}

/*-////////////////////////// Header //////////////////////////*/

.intro{
    max-width: 400px;
}

h1{
    font-size: 48px;
    padding-bottom: 20px;
}

.intro p{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

/*-////////////////////////// Info Bar //////////////////////////*/

.info-bar{
    margin-top: 180px;
}

.info-bar address{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px 10px;
    width: 300px;
    margin: 0 20px;
    box-shadow: 0px 0px 10px  rgba(23, 23, 23, 0.2);
    border-radius: 10px;
    text-align: center;
}

.info-card:hover{
    cursor: pointer;
}

.info-card i{
    text-align: center;
    padding: 25px;
    font-size: 28px;
    background-color: #FF2E63;
    border-radius: 50%;
    color: var(--main-white);
    min-width: 78px;
    min-height: 78px;
}

.info-card p{
    padding: 20px 0 0 0;
    font-size: 16px;
    font-weight: 600;
}

.info-bar p:last-child{
    padding-top: 10px;
    font-weight: 400;
}

/*-////////////////////////// Food Important / about //////////////////////////*/

.food-important{
    margin-top: 150px;
}

.food-important-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.important-food-image img{
    max-width: 500px;
}

.food-important-container article{
    max-width: 400px;
}

.important-food-article{
    display: flex;
    flex-direction: column;
    align-items: unset;
}

.important-food-article p{
    padding:15px 0;
}

.important-info{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.important-info a{
    margin-right: 15px;
}

.important-video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button{
    background-color: var(--main-black);
    color: var(--main-white);
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button:active{
    transform: scale(0.95);
}

.watch-video{
    font-weight: 600;
}

/*-////////////////////////// Work  //////////////////////////*/

.food-preparation-container-botton{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.food-preparation-container-botton h2{
    padding-bottom: 10px;
}

.food-preparation-container-botton p{
    max-width: 50%;
    text-align: center;
    padding-bottom: 20px;
}

.food-preparation-container-botton-cards{
    display: flex;
    
}

.work-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    min-height: 100%;
    padding: 20px 10px;
    width: 300px;
    margin: 0 20px;
    box-shadow: 0px 0px 10px  rgba(23, 23, 23, 0.2);
    border-radius: 10px;
    text-align: center;
}

.work-card-icon{
    background-color: #FF2E63;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 68px;
    max-height: 68px;
}

.work-card i{
    padding: 20px;
    font-size: 28px;
    color: var(--main-white);
}

.work-card span{
    font-weight: 600;
    margin: 10px 0;
}

.work-card:hover{
    cursor: pointer;
    transform: scale(1.02);
}

/*-////////////////////////// Menu  //////////////////////////*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}


.main-menu-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-menu{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: repeat(2, 430px);
    column-gap: 30px;
}

.main-menu-top p{
    padding: 5px 0;
}

.main-menu-card{
    width: 300px;
}

.main-menu-card-img {
    width: 100%;
    max-width: 300px;
    border-radius: 0px 60px 0 60px;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}


.main-menu-card-food-info{
    width: 299px;
    height: 200px;
    background-color: #fff;
    padding-top: 60px;
    margin-top: -50px;
}


.main-menu-card-food-info-plate{
    max-width: 90%;
    margin: 0 auto;
}

.main-menu-card-food-info-plate-name-and-price{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.plate-description{
    font-size: 12px;
}

.plate-information{
    padding-top: 10px;
}

.plate-purchase{
    width: 100%;
    margin-top: -1px;
    height: 41px;
    max-height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.stars{
    padding-left: 5%;
}

.stars i:hover, .stars-review:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.add-plate-to-cart button{
    padding: 10px 20px;
    max-height: 41px;
    border: none;
    font-size: 18px;
    text-align: center;
    background: var(--main-red);
    color: var(--main-white);
    border-radius: 20px 0 0 0;
    margin-right:1px ;
}

.add-plate-to-cart button:hover{
    cursor: pointer;
    color: #fff;
    border-radius: 10px 0 0 0 ;
}

/*-////////////////////////// Revies  //////////////////////////*/

.healthy-food-two{
    position: absolute;
    width: 400px;
    right: 0;
    margin-right: -200px;
}

.reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 20px;
}

.reviews-header{
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews h2, .reviews p{
    padding-top: 10px;
}

.client-review{
    margin-top: 60px;
    min-width: 40%;
    width: 40%;
    background: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 20px 10px;
    box-shadow: 0px 0px 4px rgba(23, 23, 23, 0.2);
}
.client-pic{
    width: 100px;
    border-radius: 50%;
    border: solid 4px var(--main-red);
}

.client-pic:hover{
    cursor: pointer;
}

.client-review blockquote {
    padding: 20px 0;
    text-align: center;
    max-width: 60%;
}

.contact{
    margin-top: 60px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.contact-header h2, .contact-header span{
    padding: 10px 0;
}

.form-contact{
    margin-top: 30px;
    background: #fff;
    padding: 5px;
    border-radius: 30px;
}

.mail-input{
    padding: 10px;
    border: none;
    border-radius: 30px 0 0 30px;
}
.mail-input:focus{
    outline: none;
}

footer{
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: wrap;
    width: 100%;
    min-width: 100%;
    justify-content: space-around;
}

.footer-social-name span{
    font-size: 32px;
    font-weight: bolder;
}

.footer-social-rrss{
    font-weight: 28px;
}

.footer-social-rrss a{
    padding: 10px 10px 0 0;
}

.footer-nav nav{
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: bolder;
}

.footer-info{
    display: grid;
    grid-template-columns: repeat(2, 200px);
}